html {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
    width: 90vw;
    background-color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
    color: #483d8b;
}

#settings button {
    font-family: 'Courier New', Courier, monospace;
    border-radius: 5%;
}

#sliderValue {
    margin: 0;
}

#sides {
    -webkit-appearance: none;
    height: 8px;
    appearance: none;
    margin-top: 5px;
}

#sides::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #483d8b;
    cursor: pointer;
  }

#settings p {
    color: black;
    text-align: center;
}

#settings {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
    width: 90%;
    margin: 10px 0px;
}

#gridContainer {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 90%;
    border: solid 2px black;
}

.gridRow {
    display: flex;
    flex-grow: 1;
}

.gridDiv {
    flex-grow: 1;
    background-color: white;
}

.gridDivBlack {
    flex-grow: 1;
    background-color: black;
}